<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Flaskmedia</title>
		<link href="{{url_for('static', filename='css/common.css')}}" rel="stylesheet">
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.0.0.js')}}"></script>

		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class=page>
			<h1>Flask Media</h1>
			{% for message in get_flashed_messages() %}
			<div class=flash>{{ message }}</div>
			{% endfor %}

			<div class="header">
			{% if session.user_id %}
				Welcome, {{session.user_name}}
				
				<div class="menu">
					<a href="{{url_for('media')}}">media</a>
					<a href="{{url_for('user_list')}}">users</a>
					<a href="{{url_for('logout')}}">Logout</a>
				</div>
			{% else %}
				<div class="menu">
					<a href="{{ url_for('login')}}">Login</a>
				</div>
			{% endif %}
			</div>


			{% block body %}
			{% endblock %}
		</div>
	</body>
</html>